{% extends "base.html" %}
{% block nav %}
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="/">Home</a></li>
              <li><a class="nav-link current" href="/about">About the Team</a></li>
            </ul>
          </div>
{% endblock %}

{% block docs-header %}
<!--docs-header-->
<div class="topic">
	<div class="container">
		<div class="col-md-8">
			<h3>Meet the Team.</h3>
			<h4>Meet the Team Behind the Project.</h4>
		</div>
	</div>
</div>
{% endblock %}
{% block document_body %}
    <!--documents-->
    <div class="container documents">
      <div class="row">
        <div class="col-md-12">
          <!-- Overview
          ================================================== -->
          <div class="docs-article docs--start" id="overview">
            <h3>Here's Team Bigger Data Better Health.</h3>
           <div class="example">
  
        <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="/static/img/ben_nadler_photo.jpg" >
                <div class="caption text-center">
                  <h3>Ben Nadler</h3>
                  <p>Ben is a backend engineer and lives in San Francisco.  In his free time he likes running and watching baseball.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="/static/img/simoncartoon.png">
                <div class="caption text-center">
                  <h3>Simon Cartoon</h3>
                  <p>Simon currently lives in San Francisco, where he is a Business Intelligence analyst for a large technology company. He is especially interested in real life applications of machine learning. In his free time, Simon enjoys long distance running and reading science fiction.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="/static/img/mikephoto.jpg">
                <div class="caption text-center">
                  <h3>Mike Landolfi</h3>
                  <p>Mike Landolfi is a former Army linguist and history student who embraced his inner codemonkey late in life and now works as a full-stack programmer for da Vinci Network Systems, an Oklahoma-based firm providing medical charting and billing software to outpatient behavioral health agencies.  He lives in Astoria, Oregon, and can be found haunting used bookstores and exploring the Pacific Northwest when not slaving away at work.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="/static/img/josephphoto.jpg">
                <div class="caption text-center">
                  <h3>Joseph Brooks</h3>
                  <p>Joseph is an aerospace engineer working on spacecraft in Denver, Colorado. His current study interests are in machine learning and artificial intelligence. In his spare time, he explores the Rocky Mountains through skiing in the winter and backpacking in the summer.</p>
                 
                </div>
              </div>
            </div>
          </div>
      </div>


      <!--Row 2 of bios-->

        <div class="example">
        
        <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="/static/img/khangphoto.jpg" >
                <div class="caption text-center">
                  <h3>Khang Pham</h3>
                  <p>Experienced in developing and implementing automation system for software build and testing, Khang offers solutions for business from small to large scale who is looking for evolution in Software development and deployment.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="/static/img/chantalephoto.jpg">
                <div class="caption text-center">
                  <h3>Chantale DeFelice</h3>
                  <p>When Chantale was 13 she built her first gaming computer and ever since then she has had a fascination with IT. She has exerience with hardware, networking, Web design and programming. In her free time she is really into playing Starcraft, cooking and photography. This year Chantale started her own company and plans on doing some IT consulting until she gets her Masters.  </p>
                  
                </div>
              </div>
            </div>
            
            
          </div>
      </div>

	{% endblock %}  